@using DevSpot.Constants;
@model IEnumerable<DevSpot.Models.JobPosting>
@{
}

<h3 class="text-center m-5">All Developer Jobs</h3>
<div class="list-group">
    @foreach (var jobPosting in Model)
    {
        <div class="list-group-item mb-4" id="job-posting-@jobPosting.Id">
            <h4>@jobPosting.Title</h4>
            <p>@jobPosting.Description</p>
            <p><strong>Company: </strong>@jobPosting.Company</p>
            <p><strong>Location: </strong>@jobPosting.Location</p>
            <p><strong>Posted Date: </strong>@jobPosting.PostedDate.ToShortDateString()</p>

            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employer))
            {
                <div>
                    <button onclick="deleteJobPosting(@jobPosting.Id)" class="btn btn-danger btn-sm">Delete</button>
                </div>
            }

        </div>
    }
</div>

@section Scripts {
    <script>
        function deleteJobPosting(id){
            if (confirm("Are you sure want to delete this job posting?")) {
                
                // Url
                // Type
                // Success -> Visually remove jobPosting li
                // Error -> Error Message

                $.ajax({
                    url: "@Url.Action("Delete", "JobPostings")/" + id, // endpoint -> .../Jobpostings/delete/7
                    type: "delete",
                    success: function (result) {
                        $("#job-posting-" + id).remove();
                    },
                    error: function (err) {
                        alert("An Error Occuered.");
                    }
                });
            }
        }
    </script>
}